/*  */



.Advance_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
}

.Advance_posters::-webkit-scrollbar {
  display: none;
}

.Advance_poster {
  object-fit: contain;
  width: 100%;
  max-height: 12.5rem;
  transition: transform 450ms;
  margin-right: 0.7rem;
}

.Advance_poster:hover {
  transform: scale(1.08);
}

.Advance_heading {
  text-align: left;
  margin-left: 1rem;
  color: #e5e5e5;
}
